html,
body {
  color: rgba(255, 255, 255, 90%);
  background: hsl(217, 28%, 15%);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

body {
  padding: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}

h1 {
  font-size: 40px;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}
